@import url('https://fonts.googleapis.com/css?family=Anton|Cormorant+Garamond&display=swap');


h1 {color:#000000;
  font-family: 'Anton', ;}

h2 {color:#2E63BF
font-family: 'Anton', ;}

body{ 
font-family: 'Cormorant Garamond', ;}

