@import url('https://fonts.googleapis.com/css?family=Lalezar&display=swap');


h1 {color:#000000;
  text-align: center;
  font-family: 'Lalezar', ;
  
h2 {color:#2E63BF
font-family: 'Lalezar', ;
   

ul,li { 
font-family: 'Cormorant Garamond', ;}

li {margin: 15px 0;}

