@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');


h1 {color:#000000;
  font-family: 'Anton', ;}

h2 {color:#2E63BF
font-family: 'Anton', ;}
}

ul,li { 
font-family: 'Cormorant Garamond', ;}

li {margin: 15px 0;}

